*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s;
 }

 :root{
    /*    --primary-color: #edf2fc;
    --secondary-color: #1d2026;
    */
    --primary-color: #1d2026;
    --secondary-color: #edf2fc;
    --sec: #121418;
    --pri: rgba(255,255,255, 0.3);
}
.dark{
    --primary-color: #edf2fc;
    --secondary-color: #1d2026;
    --sec: #bcc0c9;
    --pri: rgba(51, 43, 43, 0.3);
}
.main{
    color: var(--secondary-color);
    background: var(--primary-color);
    transition: background 0.5s;
}

.hero{
    min-height: 45vw;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    transition: color 0.5s;
    background-color: var(--sec);
    flex: 1;
    justify-content: right;    
    padding: 1em 3em;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 7px;
}
nav .menu-img{
    width: 2.25%;
    margin-right: 1%;
    cursor: pointer;
}
nav .logo{
    width: 12vw;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 1%;
}
nav ul li a{
    font-size: 110%;
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.5s ease; 
}
nav ul li a:hover{
    color: red;
    transition: all 0.3s;
}
button{
    margin: 0 1%;
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
button span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}
.text-container{
    margin-top: 10vw;
    align-content: center;
}
.home{
    color: red;
    font-style: italic;
}
.text-container h1{
    font-size: 5.5vw;
    font-weight: 400;
}
.text-container p{
    font-size: 1.5vw;
}
.text-container a{
    background: #00986f;
    padding: 1vw 1.75vw;
    display: inline-block;
    text-decoration: none;  
    color: #fff;
    font-size: 1.5vw;
    border-radius: 50px;
    transition: 0.5s;
}
.active{
    background: #ff0000;
    opacity: 1;
}
.active span{
    background: #fff;
    margin-left: 31px;
}
.on{
    opacity: 1;
}
img {
    max-width: 250%;
    height: auto;
  }
/*services*/
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 20px;
  }
  .testimonial p{
    color: var(--primary-color);
  }
  .inner{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 1.75vw;
    margin-top: 2vw;
    color: var(--secondary-color);
    margin-bottom: 100px;
  }
  .testimonial img{
    width: 50%;
  }
  .name{
    font-size: 2.5vw;
    margin: 20px 0;
    color: var(--primary-color);
  }
  /*footer*/
  .footer{
    width: 100%;
    height: 300px;
    background-color: var(--sec);
  }
  .top {
    text-align: left;
    transition: all 0.3s;
    font-family: 'Roboto';
    font-weight: bold;
    background-color: var(--sec);
    color: var(--pri);
    padding: 2% 2% 2%;
    display: flex;
    justify-content: space-between;
}

.fright {
    width: 3.5vw;
    margin-right: 5.6%;
    align-content: center;
}
.top .ip {
    font-size: 2vw;
    color: var(--pri);
    position: absolute;
}
.fdesc {
    font-size: 1vw;
    color: var(--pri);
    margin-right: 30%;
    margin-top: 2.5%;
}