*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s;
 }

 :root{
    /*    --primary-color: #edf2fc;
    --secondary-color: #1d2026;
    */
    --primary-color: #1d2026;
    --secondary-color: #edf2fc;
    --sec: #121418;
    --pri: rgba(255,255,255, 0.3);
    --secs: #edf2fc;
    --count-transition: all 1s cubic-bezier(0.33, 0.74, 0.28, 0.82) !important;
}
.main{
    color: var(--secondary-color);
    background: var(--primary-color);
    transition: background 0.5s;
}

.hero{

    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    transition: color 0.5s;
    background-color: var(--sec);
    flex: 1;
    justify-content: right;    
    padding: 0.74vw 1.9vw;
    margin-right: 6.5vw;
    margin-left: 6.5vw;
    border-radius: 7px;
}
nav .menu-img{
    width: 2.25%;
    margin-right: 1%;
    cursor: pointer;
}
nav .logo{
    width: 12vw;
    cursor: pointer;
}
nav .icon{
    margin-left: 1%;
    width: 5%;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 1%;
}
nav ul li a{
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.5s ease; 
}
nav ul li a:hover{
    color: red;
    transition: all 0.3s;
}
button{
    margin: 0 1%;
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
button span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}
.main-container{
    position: absolute;
    left: 20vw;
    width: 12vw;
    
}
.text-container{
    margin-top: 10vw;
    width: 75%;
}

.text-container h1{
    font-size: 5.5vw;
    font-weight: 400;
}
.text-container p{
    font-size: 2vw;
}
img {
    max-width: 250%;
    height: auto;
  }
.home{
    color: red;
    font-style: italic;
}
.down{
    margin-top: 35px;
    width: 90%;
}
/*services*/
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-right: 8vw;
    margin-left: 8vw;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    color: var(--primary-color);
    background: var(--secs);
    padding: 30px;
    border-radius: 20px;
  }
  .testimonial p{
    color: var(--primary-color);
  }
  .inner{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 1.75vw;
    margin-top: 2vw;
    color: var(--secondary-color);
    margin-bottom: 100px;
  }
  .testimonial img{
    width: 50%;
  }
  .name{
    font-size: 2.5vw;
    margin: 20px 0;
    color: var(--primary-color);
  }
  /*footer*/
  .footer{
    width: 100%;
    height: 300px;
    background-color: var(--sec);
  }
  .top {
    text-align: left;
    transition: all 0.3s;
    font-family: 'Roboto';
    font-weight: bold;
    background-color: var(--sec);
    color: var(--pri);
    padding: 2% 2% 2%;
    display: flex;
    justify-content: space-between;

}

.fright {
    width: 3.5vw;
    margin-right: 5.6%;
    align-content: center;
    
}
.top .ip {
    font-size: 2vw;
    color: var(--pri);
    position: absolute;
    cursor: pointer;
}
.fdesc {
    font-size: 1vw;
    color: var(--pri);
    margin-right: 30%;
    margin-top: 2.5%;
}
