  /* RESET RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .author-archive {
    padding: 1.5rem;
    color: white;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1 a {
    transition: all 0.1s;
  }
  
  h1 a:hover {
    background: var(--theme);
    color: var(--white);
  }
  
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  
  /* FILTERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .filters {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .filters * {
    display: inline-block;
  }
  
  .filters label {
    background: var(--black);
    padding: 0.5rem 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .filters label:hover {
    background: var(--theme);
    color: var(--white);
    scale: 1.1;

  }
  
  
  /* FILTERED ELEMENTS (POSTS)
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .posts {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 4rem;
    padding-right: 4rem;
    }
  
  .posts .post {
    background: var(--posts);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.25s ease-out;
    border-radius: 25px;
    min-height: 23rem;
   box-shadow: 0px 5px 10px black;
   transition: all;
    transition-duration: 0.5s;
  }
  .posts .post:hover {
    scale: 1.1;
    }
  .posts img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: auto;
  }
  
  .posts .post-title {
    font-size: 1.3rem;
  }
  
  .posts .post-title:hover {
    text-decoration: underline;
  }
  
  .posts figcaption {
    padding: 1rem;
  }
  
  .posts .post-categories {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
  }
  
  .posts .post-categories * {
    display: inline-block;
  }
  
  .posts .post-categories li {
    margin-bottom: 0.2rem;
  }
  
  .posts .post-categories a {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
    line-height: normal;
    transition: all 0.25s ease-out;
  }
  
  .posts .post-categories a:hover {
    background: var(--theme);
    color: var(--white);
  }
  
  
  /* FILTERING RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [value="All"]:checked ~ .filters [for="All"],
  [value="Packs"]:checked ~ .filters [for="Packs"],
  [value="Addons"]:checked ~ .filters [for="Addons"],
  [value="Other"]:checked ~ .filters [for="Other"] {
    background-color: var(--theme);
    color: var(--white);
    scale: 1.1;
  }
  
  [value="All"]:checked ~ .posts [data-category] {
    display: block;
  }
  
  [value="Packs"]:checked ~ .posts .post:not([data-category~="Packs"]),
  [value="Addons"]:checked ~ .posts .post:not([data-category~="Addons"]),
  [value="Other"]:checked ~ .posts .post:not([data-category~="Other"]) {
    display: none;
  }
    
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  }
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media only screen and (max-width: 850px) {
    html {
      font-size: 0.8rem;
    }
    .posts {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 3rem;
    padding-right: 3rem;
    min-height: 18rem;
    }
  }
  
  @media only screen and (max-width: 550px) {
    html {
      font-size: 14px;
    }
  
    .posts {
      grid-template-columns: repeat(1, 1fr);
          padding-left: 2rem;
    padding-right: 2rem;
    }
  }


/* MENU
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  :root {
    --background: #272727;
    --black: #000000;
    --white: #fff;
    --posts: #5a5a5a;
    --theme: rgb(255, 66, 66);
  --body-bg-color: #1a1c1d;
  --text-color: #aaaebc;
  --hr-color: #26292a;
  --red: #e74c3c;
  }
  
  * {
        transition: all 0.25s ease-in-out;
    margin: 0;
    padding: 0;

  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
  margin: 30px 0;
  font: 1rem/1.3 sans-serif;
  color: var(--text-color);
  
    background-color: var(--background);
    align-items: flex-end;
  }

ul {
  list-style: none;
}

/* MENU
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
  border-color: var(--hr-color);
  margin: 20px 0;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 70px;
}

.menu a {
  position: relative;
  display: block;
  padding: 5px;
}

.menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
  transform: scaleX(1);
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu[data-animation="center"] a::before {
  transform-origin: center;
}

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
nav {
  background: #222;
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1rem;
}

.page-footer span {
  color: var(--red);
}